{% extends 'base.html.twig' %}

{% block title %}AdExpress{% endblock %}

{% block body %}
    <h2>Give your ad!</h2>

    {% for category in categories %}
        <h4>{{ category.name }}</h4>
        <p>
            <a href="{{ path('category', { slug: category.slug }) }}">{{ category.name }}</a>
        </p>
    {% endfor %}
{% endblock %}

{#{% extends 'base.html.twig' %}#}

{#{% block title %}AdExpress - {{ category }}{% endblock %}#}

{#{% block body %}#}
{#    <h2>{{ category }} Category</h2>#}

{#    {% if advertisements|length > 0 %}#}
{#        <div>There are {{ advertisements|length }} advertisements.</div>#}

{#        {% for advertisement in advertisements %}#}

{#            <h4>{{ advertisement.name }}</h4>#}
{#            <small>#}
{#                {{ advertisement.createdAt|date('Y-m-d') }}#}
{#            </small>#}
{#        {% endfor %}#}

{#        {% if previous >= 0 %}#}
{#            <a href="{{ path('category', { slug: category.slug, offset: previous }) }}">Previous</a>#}
{#        {% endif %}#}
{#        {% if next < advertisements|length %}#}
{#            <a href="{{ path('category', { slug: category.slug, offset: next }) }}">Next</a>#}
{#        {% endif %}#}
{#    {% else %}#}
{#        <div>No advertisements have been published yet for this category.</div>#}
{#    {% endif %}#}

{#    <h2>Add your add</h2>#}

{#    {{ form(comment_form) }}#}
{#{% endblock %}#}
